
//шрифт для всего сайта
* 
    font-family: 'Montserrat', sans-serif
//обнуление
*,*:before,*:after
	padding: 0
	margin: 0
	border: 0
	box-sizing: border-box

html,body
	height: 100%;
a
	text-decoration: none

ul
    list-style-type: none

//контейнер для облегчения адаптивной верстки и нормального позиционирования блоков
.container 
    width: 100%
    margin: 0 auto
    padding: 20px
    &_main // контейнер для основной части. Блоки отдаляются друг от друга на все свободное расстояние
        display: flex
        justify-content: space-between  

//импорт блоков
@import 'base/variables'
@import 'base/mixins'
@import 'blocks/lang-switch'
@import 'blocks/BG-header'
@import 'blocks/buttons'
@import 'blocks/main'
@import 'blocks/my-works'
@import 'blocks/logo'
@import 'blocks/info'
@import 'blocks/skills'
@import 'blocks/_contact-form'
@import 'blocks/adaptive'





