
//контейнер для облегчения адаптивной верстки и нормального позиционирования блоков
.container
  width: 100%
  margin: 0 auto
  padding: 20px
  &_main // контейнер для основной части. Блоки отдаляются друг от друга на все свободное расстояние
        display: flex
        flex-wrap: wrap
        justify-content: space-between